<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800811284143-lahqjn1p17cjuivm31qsj5g2kg6jmi5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800811284143-lahqjn1p17cjuivm31qsj5g2kg6jmi5d</string>
	<key>API_KEY</key>
	<string>AIzaSyACo1i8iFUTCPm5qyJmBy9J5nO0dzzUOVY</string>
	<key>GCM_SENDER_ID</key>
	<string>800811284143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wildcats.coronavoider</string>
	<key>PROJECT_ID</key>
	<string>coronavoider-w</string>
	<key>STORAGE_BUCKET</key>
	<string>coronavoider-w.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800811284143:ios:dacab565a2f85364e6065a</string>
	<key>DATABASE_URL</key>
	<string>https://coronavoider-w.firebaseio.com</string>
</dict>
</plist>